{% extends 'base.html' %}
{% block title %} LIT Revue | Authentification {% endblock title %}
{% block content %}
<main>
    <div class="login-form-container">
        {% if message %}
            <p class="login-form-message">{{ message }}</p>
        {% endif %}
        <form method="post" class="login-form">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" class="login-submit-btn">Connexion</button>
        </form>
    </div>
</main>
{% endblock content %}


