{% extends 'base.html' %}
{% load static %}
{% block extra_style %}
  <link rel="stylesheet" href="{% static 'review_form_style.css' %}">
{% endblock %}
{% block title%}lit review | Poster une critique{% endblock %}
{% block navbar %}
  {% include "partials/nav-bar.html" %}
{% endblock %}
{% block content %}
  {% if ticket %}
  <section class="main-review-creation-container">
    <h2 class="create-review-title">Créer une critique</h2>
    {% with ticket=ticket review_creation_context=True %}
      {% include "main_feed/partials/ticket_display.html" %}
    {% endwith %}
    <div class="review-creation-container">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Envoyer</button>
      </form>
    </div>
  </section>

  {% else %}
    <h2 class="create-review-title">Créer une critique</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset>
        <legend>Livre / Article</legend>
        {{ ticket_form.as_p }}
      </fieldset>
      <fieldset>
        <legend>Critique</legend>
        {{ review_form.as_p }}
      </fieldset>
      <button type="submit">Envoyer</button>
    </form>
  {% endif %}
{% endblock %}
