{% extends "main_feed/base.html" %}
{% block feed_title %}Accueil{% endblock %}
{% block feed_content %}
<p class="login-form-message" aria-live="polite">Vous êtes connecté en tant que {{ request.user }}.</p>
<section class="feed_main-container" aria-labelledby="feed-actions-title">
  <div class="feed_btns-container">
    <!-- Button to create a new ticket (demander une critique) -->
    <a href="{% url 'create_ticket' %}" class="feed_ticket-btn" role="button">Demander une critique</a>
    <!-- Button to create a new review (publier une critique) -->
    <a href="{% url 'create_review' %}" class="feed_review-btn" role="button">Publier une critique</a>
  </div>
  {% if posts %}
    <div class="feed">
    {% for post in posts %}
      {% if post.content_type == "TICKET" %}
        {% with ticket=post %}
          <!-- Display a ticket using the partial template -->
          {% include "main_feed/partials/ticket_display.html" %}
        {% endwith %}
      {% elif post.content_type == "REVIEW" %}
        {% with review=post %}
          <!-- Display a review using the partial template -->
          {% include "main_feed/partials/review_display.html" %}
        {% endwith %}
      {% endif %}
    {% endfor %}
    </div>
  {% endif %}
</section>
{% endblock feed_content %}
