{% extends "main_feed/base.html" %}
{% block feed_title %}Posts{% endblock %}
{% block feed_content %}
  <section class="posts-main-container">
    {% for post in posts %}
      {% if post.content_type == "REVIEW" %}
        {% with review=post update=True %}
          {% include "main_feed/partials/review_display.html" %}
        {% endwith %}
      {% elif post.content_type == "TICKET" %}
        {% with ticket=post update=True %}
          {% include "main_feed/partials/ticket_display.html" %}
        {% endwith %}
      {% endif %}
    {% empty %}
      <p class="no-post-to-display-msg">Vous n'avez pas encore de posts à afficher</p>
    {% endfor %}
    <a href="{% url 'homepage' %}">Retour</a>
  </section>
{% endblock %}

