{% extends "main_feed/base.html" %}
{% block feed_title %}
Détails d'une critique
{% endblock %}

{% block feed_content %}
<main aria-labelledby="review-detail-title">
<h1 id="review-detail-title">Détail de la critique</h1>
{% with review=review %}
    {% include "main_feed/partials/review_display.html" %}
{% endwith %}

<hr/>

<h2>Commentaires ({{ comments|length }})</h2>

{% for comment in comments %}
    <article class="comment-container" aria-label="Commentaire de {{ comment.author.username }}">
        <p class="comment-content"><strong>{{ comment.author.username }}</strong>, le {{ comment.time_created|date:"d/m/Y H:i" }} :</p>
        <p>{{ comment.content|linebreaks }}</p>
    </article>
{% empty %}
    <p>Aucun commentaire pour le moment.</p>
{% endfor %}

<hr/>

<!-- Formulaire pour ajouter un nouveau commentaire -->
<h3>Ajouter un commentaire :</h3>
<form method="post" aria-label="Ajouter un commentaire">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" aria-label="Publier un commentaire">Envoyer</button>
</form>
</main>
{% endblock %}
