{% extends 'main_feed/base.html' %}

{% block feed_title %}
    Modification du billet
{% endblock %}

{% block feed_content %}
    <main aria-labelledby="update-ticket-title">
    <h1 class="update-post-title" id="update-ticket-title">Modifier le billet</h1>
    <form method="post" aria-label="Formulaire de modification du billet">
        {{ update_form.as_p }}
        {% csrf_token %}
        <button type="submit">Sauvegarder</button>
    </form>
    <hr>
    <h2 class="update-post-title">Supprimer le billet ?</h2>
    <form method="post" aria-label="Formulaire de suppression du billet">
        {{ delete_form }}
        {% csrf_token %}
        <button type="submit">Supprimer</button>
    </form>
    </main>
{% endblock %}
