
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 70vw;
  margin: 2vh 10vw;
  padding: 1vh 3vw;
}
fieldset > p {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 80vw;
  margin: 1vh auto;
}
fieldset textarea {
  min-width: 20vw;
  max-width: 25vw;
  margin: 2vh 0;
}
fieldset > legend {
  text-align: center;
  font-weight: 900;
  margin: 0 auto;
}
fieldset > div {
  display: flex;
  justify-content: center;
  padding: 2vh;
}
div#id_rating > div {
  margin: 1vh .5vw;
  /*! padding: 2vw 2vh; */
  min-width: 2vw;
  justify-items: baseline;
}
