* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #111111;
}

html {
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Domine", "EB Garamond", Baskervville, serif;
    font-weight: 600;
    background-color: #fff8f5f3;
}

body {
    display: block;
    min-height: 1000px;
    min-width: 100%;
    padding: 0;
}

a { text-decoration: none; }
a:hover {
  transform: translateY(-2px);
}

button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

button {
	text-decoration: none;
	padding: 0.4ch 6ch;
	max-width: 206px;
	margin: 2ch auto;
	border-radius: 50px;
	border: 1px solid #0000003b;
	box-shadow: -1px 2px 2px #00000075;
	background: transparent;
}

.banner {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 20vh;
    background-color: rgb(176, 176, 176);
    /*! align-content: center; */
    background: linear-gradient(34deg, #170a00 1%, #281101 24%, #3c1b03 70%, #592c0b 100%);
    border-bottom: 4px solid #000;
    box-shadow: inset 3px -5px 12px #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*! padding: 0px 1px 0 74px; */
}

.banner h1 {
    margin: auto 0;
    text-align: right;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    text-transform: lowercase;
    font-size: 2.7rem;
    letter-spacing: -2px;
    background: transparent;
    color: #e8d9c2;
    text-shadow: 0.8px -0.8px 2px #060000, -0.5px 0.5px 0.6px #fdfcfc;
    position: relative;
    padding-top: -13px;
    order: 1;
    /*! height: 24%; */
    /*! padding-top: 0.5%; */
    width: 55%;
    /*! padding-left: 8.5%; */
}

.navbar {
	background: transparent;
	order: 2;
	position: relative;
	right: 0;
	display: flex;
	max-height: 10;
	font-weight: 900;
	color: white;
	justify-content: space-evenly;
}

.navbar > a, .nav-bar_logout-btn {
	background: transparent;
	text-decoration: none;
	font-family: "Domine";
	padding: .4rem 1.5rem;
	text-align: center;
	font-size: 16.5px;
	text-transform: full-width;
	align-content: center;
	justify-content: center;
	font-weight: 800;
	font-variant: all-petite-caps;
	color: #e8d9c2b0;
	text-shadow: 0.8px -0.8px 2px #060000, -0.5px 0.5px 0.6px #fdfcfc;
}

.nav-bar_logout-btn {
	border: none;
	box-shadow: unset;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    justify-content: center;
}

.login-form-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 2ch;
    /* justify-items: center; */
    padding: 2ch;
}

.login-form > ul {
    display: none;
}

.login-form > a {
	font-family: "Domine";
	padding: 0.4ch 6ch;
	max-width: 4vw;
	/* margin: 3ch auto; */
	border-radius: 50px;
	border: 1px solid #0000003b;
	box-shadow: -1px 2px 2px #00000075;
}

.sign-up-invitation {
    min-width: 40%;
    text-align: center;
    /* align-items: center; */
    align-content: space-evenly;
}

h2.login-form-title {
    text-align: center;
    font-size: larger;
}

h2.sign-up-invitation-title {
    font-size: larger;
    margin-bottom: 4ch;
}

.sign-up-invitation a {
    text-decoration: none;
    padding: 0.4ch 6ch;
    max-width: 206px;
    margin: 2ch auto;
    border-radius: 50px;
    border: 1px solid #0000003b;
    box-shadow: -1px 2px 2px #00000075;
}

p.login-form-message {
    border: 0.5px solid #00000045;
    width: 100%;
    text-align: center;
    padding: 1ch;
    background: floralwhite;
    font-size: 1.4rem;
    border-radius: 20px;
    margin-bottom: 3ch;
}

.login-form, .logging-out-form {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    height: 100%;
    min-width: 60%;
}

.password-field {
  align-content: last baseline;
}

.login-form p {
    margin-top: 2ch;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    justify-items: center;
}

.login-form label {
    margin: 0.6ch;
}

.login-form input {
    margin-inline: auto;
    border-radius: 8px;
    border: 1px solid #ffffff6e;
    padding: 10px;
    width: 300px;
    box-shadow: inset -1px 1px 4px #000000a1;
}

button.login-submit-btn {
    font-family: "Domine";
    padding: 0.4ch 6ch;
    max-width: 206px;
    margin: 3ch auto;
    border-radius: 50px;
    border: 1px solid #0000003b;
    box-shadow: -1px 2px 2px #00000075;
}

.login-form ul {
    /* opacity: 0.6; */
    margin-inline: auto;
    margin-top: 1ch;
    list-style: none;
    font-family: sans-serif;
    max-width: 55%;
    font-size: 0.4rem;
    background-color: #fffdfb;
    /* border-radius: 10px; */
    /* border-left: 3px solid #0185d669; */
    padding: 1ch;
    color: #abaaa8;
    /* box-shadow: -3px 4px 3px #88888885, inset 2px -2px 4px #0000005c; */
}

.login-form ul li {
    font-size: 0.65rem;
    text-align: center;
    color: #abaaa8;
    background: transparent;
}

.login-form p > span {
    margin-inline: auto;
    margin-top: 0ch;
    list-style: none;
    font-family: sans-serif;
    max-width: 52%;
    font-size: 0.5rem;
    background-color: #fffdfb;
    /* border-radius: 10px; */
    /* border-left: 3px solid #cae0f2; */
    padding: 1.3ch 4ch;
    /* box-shadow: -2px 3px 6px #494949a6, inset 1px -1px 3px #0000005c; */
    font-size: 0.7rem;
    text-align: center;
    color: #9a9997d4;
}

ul.errorlist {
	border: 0.5px solid #000000;
	padding: 4vh;
	background-color: #ff48001c;
	border-radius: 16.5px;
}

.login-form ul.errorlist > li {
	font-size: 0.8rem;
	color: #000000a3;
}

#id_username_helptext {
	display: none;
}

#id_password2_helptext {
	display: none;
}

span#id_password1_helptext {
    display: none;
}

.feed_main-container {
min-height: 100vh;
min-width: 100vw;
display: flex;
flex-direction: column;
}

.feed_btns-container > button {
  /*! border-radius: 10px; */
  font-family: "Domine";
  padding: 0.4ch 3ch;
  max-width: 222.5px;
  margin: 3ch auto;
  border-radius: 50px;
  border: 1px solid #0000003b;
  box-shadow: -1px 2px 2px #00000075;
  background-color: #ffffff26;
}
p.login-form-message {
	border: 0.5px solid #00000045;
	width: 20%;
	text-align: center;
	padding: 1ch;
	background: floralwhite;
	/* font-size: 1rem; */
	border-radius: 20px;
	margin-bottom: 3ch;
	margin: 1.5vh auto;
    font-size: 1rem;
}

.feed_btns-container {
	max-width: 64vw;
	margin: 2vh auto;
	display: flex;
	justify-content: space-between;
    background: transparent;
}

a.feed_ticket-btn {
	text-decoration: none;
	padding: 0.4ch 6ch;
	max-width: 206px;
	margin: 2ch auto;
	border-radius: 50px;
	border: 1px solid #0000003b;
	box-shadow: -1px 2px 2px #00000075;
}

a.feed_review-btn {
	text-decoration: none;
	padding: 0.4ch 6ch;
	max-width: 206px;
	margin: 2ch auto;
	border-radius: 50px;
	border: 1px solid #0000003b;
	box-shadow: -1px 2px 2px #00000075;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

fieldset {
	display: flex;
	/* flex-direction: column; */
	justify-content: space-around;
	min-width: 50vw;
	margin: 2vh auto;
	padding: 6vh 3vw;
	border-radius: 80px;
	/* box-shadow: inset 2px -4px 6px #0000006b, -4px 4px 8px #00000080; */
	/* background-color: #0000000a; */
	/* border-color: white; */
	max-width: 80vw;
	min-height: 20vh;
}

.create-ticket, .create-review {
  flex-direction: column;
}

fieldset > p, form > p {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 80vw;
  margin: 1vh auto;
}

fieldset > legend {
  text-align: center;
  font-weight: 900;
  margin: 0 auto;
}

fieldset ul > li {
	min-width: 30vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.create-review-title {
	text-align: center;
	margin: 2vh auto;
	font-size: 1.5rem;
}

fieldset p > label {
	text-align: center;
	text-transform: capitalize;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

fieldset p > input, fieldset p > textarea {
	min-width: 30vw;
}

#id_rating {
  display: flex;
  justify-content: center;
  padding: 2vh;
}

div#id_rating > div {
  margin: 1vh .5vw;
  /*! padding: 2vw 2vh; */
  min-width: 2vw;
  justify-items: baseline;
}

.ticket-metadata {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid;
  line-height: 2;
  padding: 0 1vw;
  background-color: floralwhite;
}

.ticket-title {
  text-align: center;
}

.ticket-display {
  max-width: 50vw;
  margin: 1vh auto;
  border: 1px solid;
  min-height: 20vh;
  border-radius: 16px;
  overflow: hidden;
}

.ticket-body {
	justify-content: center;
	display: flex;
	flex-direction: column;
	padding: 4vh 4vw;
}

.review-main-container {
  max-width: 50vw;
  margin: 1vh auto;
  border: 0.3px solid;
  overflow: hidden;
  padding: 0 1vw 1vh 1vw;
}
.review-metadata {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  min-width: 100%;
  background-color: #321602;
  min-height: 100%;
  margin: 0 -1vw;
  padding: 1vh 1vw;
}

.review-metadata > p {
  color: #fff8f5;
  font-family: "Comfortaa";
  font-weight: 300;
}

.review-headline {
  margin: 3vh auto;
  text-align: center;
}
.review-rating {
  text-align: center;
}

.ticket-display {
  border-radius: 0;
}

.ticket-metadata {
  background-color: #321602;
}

.ticket-metadata > p {
  color: #fff8f5;
  font-family: "Comfortaa";
  font-weight: 300;
}

.ticket-body_description {
  text-align: center;
}
.review-body {
  text-align: justify;
  padding: 3vh 2vw;
}

.ticket-body > a {
  text-decoration: none;
  padding: 0.4ch 6ch;
  max-width: 206px;
  margin: 2ch auto;
  border-radius: 50px;
  border: 1px solid #0000003b;
  box-shadow: -1px 2px 2px #00000075;
}

.ticket-body > img {
	max-width: 20%;
	margin: 1vh auto;
  border: 1px solid #000000;
}


